<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="rvizconfig" default="$(find telemarketing_drl)/rviz/laser.rviz"/>

  <arg name="numero_intentos" default="10"/>
  <arg name="algoritmoNavegacion" default="SAC_Mapless"/>
  
  <arg name="numero_obstaculos" default="8"/>
  <arg name="velocidad" default="0.4"/>
  <arg name="tipo_movimiento" default="1_Cruce"/> <!--0_Aleatorio, 1_Cruce, 2_MismaDireccion, 3_MundoObstaculosEstaticos, 4_MundoVacio-->

  <!-- move_base -->
  <node pkg="telemarketing_drl" name="drl_test_gazebo_4Obs_automate" type="drl_test_gazebo_4Obs_automate.py" output="screen"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg rvizconfig)"/>
  </group>
  
  <!--package to run automatic navigation stack for predefined goals-->
  <node pkg="telemarketing_navigation" type="move_base_seq_drl.py" name="move_base_seq" output="screen">
      <rosparam param="p_inicial">[0,-10,0]</rosparam>
      <rosparam param="p_final">[-10,9,0]</rosparam>
      <rosparam param="angle_sequence">[90,0]</rosparam>
      <param name="numero_intentos" type="double" value="$(arg numero_intentos)" />
  </node> 

  <!--package to run testing procedute to evaluate the navigation-->
  <node pkg="telemarketing_navigation" type="MetodologiaFinalCSV.py" name="MetodologiaFinalCSV" output="screen">
    <param name="filename" type="str" value="$(arg algoritmoNavegacion)_$(arg velocidad)" />
    <param name="numero_intentos" type="double" value="$(arg numero_intentos)" />
    <param name="navegador" type="str" value="$(arg algoritmoNavegacion)"/>
    <param name="numero_obstaculos" type="int" value="$(arg numero_obstaculos)"/>
    <param name="tipo_movimiento" type="str" value="$(arg tipo_movimiento)"/>

  </node> 

  <!--package of laser filters-->
  <!-- <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
    <rosparam command="load" file="$(find laser_filters)/examples/range_filter.yaml" />
  </node> -->
</launch>
