<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find telemarketing_description)/urdf/telemarketing.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model telemarketing"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find telemarketing_drl)/worlds/DRL_Training/EmptyWorld_8size/empty_8size.world"/><!--staticWorld_4, empty_8size-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
